#header {
  pre {
    background: none;
    color: #fff;
    border: none;
    font-size: 4px;

    @media (min-width: $screen-sm-min) {
      font-size: 7px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 10px;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 13px;
    }
  }

  nav {
    border-top: dashed 1px #fff;
    padding-top: 15px;

    ul {
      li {
        a {
          color: #fff;
          background: none;
        }

        &.active {
          border: dashed 1px #fff;
          border-radius: 5px;
        }
      }
    }
  }
}